body {
    background: beige;
    background-color:lightcyan;/*lightcyan*/
}
Titulos {
    font-size: 40pt;
    font-weight: bold;
    color:#0094ff;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-position:center;
}

/*nav {
    background-color: #333;
    color: azure;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
#menuItems {
    display: none;
}

    #menuItems.show {
        display: block;
    }

    #menuItems li {
        list-style: none;
        padding: 5px;
    }

        #menuItems li a {
            color: #fff;
            text-decoration: none;
        }*/
.full-width-image {
    width: 100%;
    height: 100pt;
    /*    width: 100%;
    height:100pt; 
    background-image: url('Imagenes/fondo.jpg');*/
    /*    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;*/
}
.BtsImg {
    background-color: #c8c8c8;
    color: black;
    border-block-color:#000000;
    display: inline-block;
    border: 1px solid #007bff;
    border-radius: 5px;
    padding: 10px 20px;
}

.dark-container {
    background-color: #333; /* Color de fondo oscuro */
    width: 100%; /* Ancho del contenedor al 100% de la página */
    height:50px; /* Altura del contenedor igual a la altura de la ventana */
    padding: 10px; /* Margen interior para el contenido */
    box-sizing: border-box; /* Incluir el padding en el ancho del contenedor */
    color:azure; /* Color del texto en el contenedor */
}

.mGrid {
    /*Este es para las filas*/
    width: 100%;
    background-color: #fff;
    margin: 5px 0 10px 0;
    border: solid 1px #525252;
    border-collapse: collapse;
}

    .mGrid td {
        /*Este es para las letras de las filas*/
        padding: 2px;
        border: solid 1px #c1c1c1;
        color: #717171;
    }

    .mGrid th {
        /*Este es para los atributos*/
        padding: 4px 2px;
        color: aliceblue;
        background: #424242 url(grd_head.png) repeat-x top;
        border-left: solid 1px #525252;
        font-size: 1em;
        background-color: cornflowerblue;
    }

    .mGrid .alt {
        background: #fcfcfc url(grd_alt.png) repeat-x top;
    }

    .mGrid .pgr {
        background: #424242 url(grd_pgr.png) repeat-x top;
    }

        .mGrid .pgr table {
            margin: 5px 0;
        }

        .mGrid .pgr td {
            border-width: 0;
            padding: 0 6px;
            border-left: solid 1px #666;
            font-weight: bold;
            color: #fff;
            line-height: 12px;
        }

        .mGrid .pgr a {
            color: #666;
            text-decoration: none;
        }

            .mGrid .pgr a:hover {
                color: #000;
                text-decoration: none;
            }
.filaBajaStock {
    background-color:#FFCCCC;
}

.filaAgregarStock {
    background-color:#b6fb76;
}
.filaReducirStock{
    background-color:#fc9595
}

/*.iconoAdvertencia::before {
    content: "\26A0";*/ /* Código Unicode del icono de advertencia */
    /*color: #FF0000;*/ /* Color rojo o el que prefieras */
    /*margin-right: 5px;*/ /* Espacio entre el icono y el texto */
/*}*/
/*.iconoAdvertencia {
    width: 16px;
    height: 16px; 
    background: url('') no-repeat center center;
    display: inline-block;
    vertical-align: middle;
}*/
